<% if(products.length > 0) { %>
    <div class="productos">
        <div class="productos__header">
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <span>Nombre</span>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <span>Precio</span>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <span>Foto</span>
                </div>
            </div>
        </div>
        <div class="productos__content">
            <ul>
                <% products.forEach(product => { %>
                    <li class="producto">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center">
                                <span class="producto__title"><%= product.title %></span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <span>$ <%= product.price %></span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <div class="producto__image">
                                    <img src="<%= product.thumbnail %>" alt="<%= product.title %>">
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button onclick="addToCart('<%= product._id %>')" class="producto__add-to-cart">Agregar al carrito</button>
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
<% } else { %>
    <div class="row">
        <div class="col-12 productos__empty">
            <h2>NO HAY PRODUCTOS</h2>
        </div>
    </div>
<% } %>